<div class="five wide column">
    <div class="ui action input" style="width: 100%;">
        <input type="text" placeholder="検索">
        <button class="ui button"><i class="search icon"></i></button>
    </div>
    <div class="ui segment">
        <div class="content">
            <div class="header">
                <h4>話題のトピック</h4>
            </div>
            <div class="ui relaxed list small divided link">
                <a class="item">進化系ポケモン一覧</a>
                <a class="item">弱いポケモン一覧</a>
                <a class="item">強いポケモン一覧</a>
                <a class="item">バランスチーム形成</a>
                <a class="item">同属性チーム形成</a>
            </div>
        </div>
    </div>
</div>